body {
  background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(https://ddl1ff62eln9g.cloudfront.net/ez-image/6818/34461.jpg?fh=1200&fw=600&h=1024&l=0&oh=1362&ow=2048&q=60&t=248&w=2048) no-repeat center fixed;
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
}

.corners {
  text-align: center;
  border-radius: 25px;
  border: 4px solid black;
  background: url(https://cdn.vectorstock.com/i/1000x1000/33/15/crumpled-paper-old-background-vector-5993315.webp) no-repeat center fixed;
  background-size: cover;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}